<h2 class="p-5 text-center">Create your profile</h2>
<div class="container">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :name,
                  required: true %>
      <%= f.input :username,
                  required: true %>
      <%= f.input :age,
                  required: true %>
      <%= f.input :biography,
                  required: true %>
      <%= f.input :skills,
                  required: true %>
      <%= f.input :hobbies,
                  required: true %>
      <%= f.input :city,
                  required: true %>
      <%= f.input :music_genres,
                  required: true %>
      <%= f.input :book_genres,
                  required: true %>
      <%= f.input :movie_genres,
                  required: true %>
      <%= f.input :favorite_animal,
                  required: true %>
    </div>

    <div class="form-actions m-2 p-2 text-center">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</div>
  <div class="text-center p-3 m-3"><%= render "devise/shared/links" %></div>
