<%# <div id = "profile_whole", padding="0", class="rounded">

  <label for="photo"></label>
  <h3><%= cl_image_tag(@profile.photo.key,
        width: 319, height: 297, crop: :thumb, gravity: :face) /h3>%>

    <%# <h1> <%= @profile.first_name</h1> %>
  <%# <label for="biography"></label>
  <h3><%= @profile.biography /h3>%>
      <%# <% if current_user %>
        <%# <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "btn btn-primary-outline" %>
      <%# <% end %>
  <%# <div class="container d-inline-flex "> %>
    <%# <div class="row row-cols-4"> %>
      <%# <label class="h4", for="age">Age</label> %>
      <%# <h3><%= @profile.age /h3>%>

      <%# <label class="h4" for="city">City</label> %>
      <%# <h3><%= @profile.city /h3>%>

      <%# <label class="h4" for="favorite_animal">Favorite Animal</label> %>
      <%# <h3><%= @profile.favorite_animal /h3>%>
    <%# </div> %>
  <%# </div> %>

  <%# <div class="container d-flex"> %>
    <%# <div class="row row-cols-2"> %>
      <%# <label class="h4" for="hobbies">HOBBIES</label> %>
      <%# <h3><%= @profile.hobbies /h3>%>

      <%# <label class="h4" for="skills">SKILLS</label> %>
      <%# <h3><%= @profile.skills /h3>%>

      <%# <label class="h4" for="music">MUSIC</label> %>
      <%# <h3><%= @profile.music_genres /h3>%>

      <%# <label class="h4" for="books">BOOKS</label> %>
      <%# <h3><%= @profile.book_genres /h3>%>

      <%# <label class="h4" for="movie">MOVIE</label> %>
      <%# <h3><%= @profile.movie_genres /h3>%>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
