<h1> <%= @profile.first_name %></h1>
  <% if current_user %>
    <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
  <% end %>
<label for="photo">Avatar</label>
<h3><%= cl_image_tag(@profile.photo.key,
      width: 150, height: 150, crop: :thumb, gravity: :face) %></h3>

<label for="biography">Biography</label>
<h3><%= @profile.biography %></h3>

<label for="age">Age</label>
<h3><%= @profile.age %></h3>

<label for="city">City</label>
<h3><%= @profile.city %></h3>

<label for="favorite_animal">Favorite Animal</label>
<h3><%= @profile.favorite_animal %></h3>

<label for="hobbies">HOBBIES</label>
<h3><%= @profile.hobbies %></h3>

<label for="skills">SKILLS</label>
<h3><%= @profile.skills %></h3>

<label for="music">MUSIC</label>
<h3><%= @profile.music_genres %></h3>

<label for="books">BOOKS</label>
<h3><%= @profile.book_genres %></h3>

<label for="movie">MOVIE</label>
<h3><%= @profile.movie_genres %></h3>
