<div class="container", id="profile_whole">
  <div class="profile-center py-4">
      <%= cl_image_tag@profile.photo.key, class: "img-rounded"%>
        <div class="img-rounded" data-ride="carousel">
          <div class="img-rounded">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://www.thetrendspotter.net/wp-content/uploads/2022/01/Henry-Cavill.jpg" alt="First photo">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.thetrendspotter.net/wp-content/uploads/2021/07/Kristin-Bell.jpg" alt="Second photo">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.thetrendspotter.net/wp-content/uploads/2022/01/Chris-Hemsworth.jpg" alt="Third photo">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.thetrendspotter.net/wp-content/uploads/2021/07/Lucy-Liu.jpg" alt="Fourth photo">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.thetrendspotter.net/wp-content/uploads/2021/07/Halley-Berry.jpg" alt="Fifth photo">
            </div>
          </div>
        </div>
    </div>

  <div class="profile-center-details m-3">
    <h3><%= @profile.biography %></h3>
  </div>


  <div class="profile-1 d-flex justify-space-between">
    <div class="profile-1-details d-flex justify-content-between">
      <div class="me-3 grey-background">
      <label for="age" class="me-1">Age</label><%= @profile.age %>
      </div>
      <div class="me-3 grey-background">
      <label for="city" class="me-1">City</label><%= @profile.city %>
      </div>
    </div>
    <div class="profile-1-animal grey-background">
    <label for="favorite_animal" class="me-1">Favorite Animal</label><%= @profile.favorite_animal %>
    </div>
  </div>


  <div class="profile-2 px-3">
    <div class="d-flex justify-content-between">
    <h3>HOBBIES:</h3>
    <h3 class="ml-auto whitesmoke-background"><%= @profile.hobbies %></h3>
    </div>

    <div class="d-flex justify-content-between">
    <h3>SKILLS:</h3>
    <h3 class="ml-auto whitesmoke-background"><%= @profile.skills %></h3>
    </div>

    <div class="d-flex justify-content-between">
    <h3>MUSIC:</h3>
    <h3 class="ml-auto whitesmoke-background"><%= @profile.music_genres %></h3>
    </div>

    <div class="d-flex justify-content-between">
    <h3>BOOKS:</h3>
    <h3 class="ml-auto whitesmoke-background"><%= @profile.hobbies %></h3>
    </div>

    <div class="d-flex justify-content-between">
    <h3>MOVIE:</h3>
    <h3 class="ml-auto whitesmoke-background"><%= @profile.movie_genres %></h3>
    </div>
  </div>
<%# <%= render "shared/footer" %> 
</div>
