<h1 class="p-3 m-3">Mindful Meet</h1>
<div id="videos"
data-controller="vonage"
data-vonage-api-key="47771161"
data-vonage-session-id="<%= @room.vonage_session_id %>"
data-vonage-token="<%= @token %>"
data-vonage-name="<%= current_user.name %>">
</div>

<%# <%= link_to "End Chat Session", finishchat_path(@chat_session), method: "post" %>
<div id="end_chat">
<%= link_to "End Chat Session", finish_chat_session_path(@chat_session), data: {turbo_method: :patch} %>
</div>
