<!DOCTYPE html>
<html>
  <head>
    <title>mindful meets. connect like-minded people.</title>
    <%= display_meta_tags site: "mindful meets." %>
    <%= favicon_link_tag %>
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  </head>
    <body>



    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main>
      <%= yield %>
    </main>
    <div class="footer-box">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
