<!DOCTYPE html>
<html>
  <head>
    <title>MindfulMeets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <% if user_signed_in? %>
      <h1>Hi <%= current_user.email %></h1>
    <% end %>
    <%= yield %>

  </body>
</html>
