<!DOCTYPE html>
<html>
  <head>
    <title>MindfulMeets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  </head>
    <body style="background-color: <%= (params[:controller] == "pages" &&  params[:action] == "show_profile") ? "#e8e8e8" :  "#D2E9E9" %>">



    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <div class="footer-box">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
